.jumbotron{ 
	background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient1.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat; 
}  

body {
    background-color: #6bedcd;
}

